/* primary AZUL_ESCURO : #2A48C2 */
/* terciária AZUL_CLARO : #5691D7 */
/* secundary ROSA : #FF46D6 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700');
*{

}

/* colors */
body{
    color:blue;
    font-family: 'Montserrat', sans-serif !important;
    min-width: 340px;
}

.bg-primary-m{
    background-color: #5691D7  !important;

}
.bg-danger-m {
    background-color:  #2A48C2 !important;
}


/* BUTONS */
.btn-danger {
    color: #fff;
    background-color:  #2A48C2 !important;
    border-color:  #2A48C2 !important;
}
.btn {
    width: 155px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 14px !important;
}

.btn-primary{
    background-color: #2A48C2 !important;
    border: #2A48C2 !important;
}

/* CORES TEXTOS */
.text-primary-main{
    color: #2A48C2 !important;
    /* #340083 */
}
.text-secundary-main {
    color: #FF46D6 !important;
}

/* tamanho padrao */
h2,h1, .h1 {
    font-size: 1.5rem !important; 
    line-height: 1.3;
}

/* Fontes*/
p {
    font-size: 14px;color:#7F8C8D;
}


/* CARDS */
.card h2  {
    font-size: 1.2rem !important; 
    line-height: 1.2;
}
.card p  {
    font-size: 0.7rem !important; 
}

.card h2.main,.card-body  {
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif !important;
    color: #2A48C2;
}

/* Componetes */
#experiences .card {
    border-radius: 17px;
    box-shadow: 10px 5px 11px #5e57662e;
}
#experriences .span {
    font-size: x-small;
}



span.badge.badge-pill.badge-danger.text-danger.align-items-center{
    background-color:  #FF46D6 !important;
}


/* NAV, NAVBAR, .navbar-collapse */
nav{
    z-index: 999;
    font-size: 11px;
}
.navbar{
    position: absolute !important;
    z-index: 999;
    width: 100%;
}
.navbar-collapse {
    display: flex;
    align-items: center;
    background-color: #2A48C2;
}
nav .text-primary {
    color: white !important;
}

/* Highlits */

.highligts .card {
    background-color: #2A48C2;
    margin: 0 auto 20px;  
    border-radius: 17px;
    box-shadow: 10px 5px 11px #5e57662e;
    height: 180px;
}
.highligts .card-body {
    padding:5px ;
}
.highligts h2{ 
    font-size: 15px !important;
    font-weight: revert;
}
.highligts p{ 
font-size: 12px !important;
}
section.highligts p br {
    display: none;
}

.highligts .card p{ 
    color: white !important;
    font-size: 1.4rem !important;
}
.highligts .card h2 { 
    height: 57px;
    color: white;
}


/* BOTTONS */

.border.border-primary-main{
    border: 1px solid #2A48C2 !important; 
}

/* a.btn.btn-primary.text-white.rounded-pill.p-2.shadow-sm.nav-link {
    box-shadow: 4px 1px 5px #8a9298 !important;
} */

/* benefits */

.benefits .card {
    border-radius: 17px;
    box-shadow: 10px 5px 11px #5e57662e;
}
/* SECTION - SKILLS */

.skills i {
    font-size: 8rem;
    opacity: 0.6;
    color: #c52534 !important;
}
.skills h2 {
    top: 20%;
}

#skill p.card-text,.experience p.card-text {
    padding: 0 24px !important;
}

.border-top-m {
    border-top: 1px solid #f1f1f1 !important;
}


/* NAVBAR  */

.navbar-collapse a{
    margin-left: 50px; 
}
.navbar-collapse .btn-primary{
margin-left: 390px; 
font-size: 14px;
}

.text-left.carousel-caption{ 
color: white !important;
padding: 5px 20px;
border-left: 4px solid !important; 
border-color:#FF46D6 !important;
}

/* CAROUSEL */

.carousel {
    max-height: 450px; 
}
.carousel-caption{
    max-width: 680px;
    bottom: inherit !important;
    top: 25% !important;
    left: 10.5% !important;
}

.carousel-caption h1,h2 {
    font-size: 1.25rem !important;
}
 
.carousel-control-prev, .carousel-control-next{
    display:none !important;
}

.carousel-indicators li {
    width: 8px  !important;
    height: 8px  !important;
    border-radius: 50% !important;
    background-color: #BDBDBD !important;
    border-bottom: inherit !important;
    border-top: inherit !important;

} 

ol.carousel-indicators .active {
    background-color: #FF46D6 !important;
    width: 32px !important;
    height: 7px !important;
    border-radius: 28px !important ;
}


@media(max-width:575px){
    .carousel-caption { 
        top: 50vh !important; 
    }
}

@media(max-width:768px){
    
}
   
    
    
    
    .full-banner { 
        position: relative !important;
        height: 310px; 
        background: #FF46D6;
    }
    .carousel-inner{
        height: 350px;
    }
    .card p {
        font-size: 0.8rem !important;
    
}
   
    .full-banner .carousel img{
        position: relative;
        bottom: 90px;
    }
   
    .full-banner { 
        position: relative !important;
        height: 450px;
    }
    .carousel-inner{
        height: 90vh;
    }
   

/* RESETS */
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
    min-width: 90%;}

}


/* CAROUSEL / PORTFÓLIO */
@media(max-width:768px){

    .carousel-item {
      text-align: center;
    }
}
@media(min-width:768px){

    .p-0.slide-portfolio  {
        position: absolute;
        right: 0;
        top:0;
    }
}
 .slide-portfolio a.carousel-control-prev,.slide-portfolio a.carousel-control-next{
display: none;
}
/* SWIPER */

/* .swiper-container{
    overflow: inherit !important;
} */

.swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }

  @media(min-width:1200px){
    .swiper-slide {
        margin:0 25px 0 0 !important
    }
    h1, .h1 {
        font-size: 2.3rem !important;
    }
    

  }


/* DOWNLOAD */
 @media(min-width:768px){
    section.download .container > div {
        position: relative;
        width: 100%;
        z-index: 999;
        left: 0;
        top: -73px;
    }
    .portfolio-section {
        height:640px ;
    }
    section.download {
        position: relative;
        /* background: red; */
        /* height: 70px; */
    }
    
    #portfolio img {
        position:absolute !important;
        right: 0 !important;
    }

 }

.radius-m{
    border-radius: 17px !important;
}

/* FOOTER */
@media (max-width:768px){
    footer .list-group-item {
        font-size: 0.6rem;
    }
    
}
@media (min-width:769px){
    footer .list-group-item {
        font-size: 0.8rem;
    }
}

/* PARALLAX */
.parallax {
    background-image: url(/bnn_parallax_2.png);
    min-height: 369px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:560px){
    .parallax {
        background-position: -118px 7px !important;
    } 
}
@media (min-width:768px){
    .parallax {
      
        min-height: 300px;

       
    } 
    
}



/* PROGRESS */

.progress{
    height: 7px !important; 
}

.progress-bar{
    background-color: #2A48C2 !important;
}